name: CI

on:
   push:
      branches:
         - main
   workflow_call:
   workflow_dispatch:

jobs:
   build:
      name: Build
      runs-on: ubuntu-latest
      permissions:
         contents: read
      steps:
         - name: Checkout repository
           uses: actions/checkout@v6

         - name: Setup Node.js
           uses: actions/setup-node@v6
           with:
              node-version: '22'
              cache: 'npm'

         - name: Install dependencies
           run: npm ci

         - name: Lint code
           run: npm run lint

         - name: Run tests
           run: npm run test

         - name: Build project
           run: npm run build

         - name: Upload artifact
           id: deployment
           uses: actions/upload-pages-artifact@v4
           with:
              path: dist/

   deploy:
      name: Deploy Pages
      needs: build

      permissions:
         pages: write
         id-token: write

      environment:
         name: github-pages
         url: ${{ steps.deployment.outputs.page_url }}

      runs-on: ubuntu-latest
      steps:
         - name: Deploy to GitHub Pages
           id: deployment
           uses: actions/deploy-pages@v4
